<div class="bg-image col"
  style="background-image: url('https://images.unsplash.com/photo-1487956382158-bb926046304a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2Fsa2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60' );
      background-size: cover; height: 100%; background-repeat: no-repeat; height: 80rem; background-attachment: fixed;">

  <div class="form col">
    <div
      style=" border: 3px solid #7B7D75; margin: 250px; float: left;  padding: 60px; background-color: #ADC084; ">
      <h2>Create a Walk</h2>

      <form>

        <div class="form-group">

          <label for="name" class="form-label">Walk Name</label>
          <input [(ngModel)]="walk.name" class="form-control" type="text" name="walk.name" id="name" />
          <small id="nameHelp" class="form-text text-muted">ex. Extreme with Sally... Stroll with Steve</small>

        </div>

        <div>
          <input [(ngModel)]="walk.date" class="form-control" type="date" name="date" id="date" />
          <label for="date" class="form-label">Date</label>
        </div>
        <div class="input-group form-control">

          <label for="startTime">Start Time:</label>
          <input class="form-time form" type="time" [(ngModel)]="walk.startTime" name="startTime" id="startTime" />

          <label for="endTime">End Time:</label>
          <input type="time" [(ngModel)]="walk.endTime" name="endTime" id="endTime" />
          <td></td>
        </div>
        <br>
        <div class="form-group">

          <textarea [(ngModel)]="walk.description" class="form-control" type="text" name="description"
            id="description"></textarea>
          <label for="description" class="form-label">Description</label>

        </div>

        <div class="input-group mb-3">

          <label class="input-group-text form-control form-label" for="walkCategory">Walk Category </label>
          <select [(ngModel)]="walk.walkCategory" class="form-control input-group form-select" name="walkCategory"
            id="walkCategory">
            <option [ngValue]="walkCategory" name="walkCategory" *ngFor="let walkCategory of walkCategories">
              {{ walkCategory.name }}
            </option>

          </select>
        </div>



        <div class="input-group mb-3">
          <label for="walkType" class=" input-group-text form-label">Walk Type </label>
          <select class="form-control input-group form-select" [(ngModel)]="walk.walkType" name="walkType" id="walkType">
            <option class="" [ngValue]="walkType" name="walkType" *ngFor="let walkType of walkTypes">
              {{ walkType.name }}
            </option>
          </select>

        </div>


        <div class="input-group mb">
          <label for="walkLocation" class="input-group-text  form-label">Walk Location</label>
          <select class="form-control form-select" [(ngModel)]="walk.walkLocation" name="walkLocation"
            id="walkLocation">
            <option [ngValue]="walkLocation" name="walkLocation" *ngFor="let walkLocation of walkLocations">
              {{ walkLocation.name }}




            </option>
          </select>

        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-warning" (click)="showAddLocation()">Add New Location</button>
        </div>

        <br>


        <div *ngIf="addLocation && newLocation && newAddress">
          <form>

            <input [(ngModel)]="newLocation.name" class="form-control" type="text" name="name" id="name" />
            <label for="name" class="form-label">Location Name</label>


            <textarea [(ngModel)]="newLocation.description" class="form-control" name="description"
              id="description"></textarea>
            <label for="location" class="form-label">Location Description</label>




            <input hidden [(ngModel)]="newLocation.address" value="newAddress" class="form-control" type="Address"
              name="address" id="address" />


            <input [(ngModel)]="newAddress.street" class="form-control" type="text" name="street" id="street" />
            <label for="street" class="form-label">Street Address</label>

            <input [(ngModel)]="newAddress.city" class="form-control" type="text" name="city" id="city" />
            <label for="city" class="form-label">City</label>





            <input [(ngModel)]="newAddress.state" class="form-control" type="text" name="state" id="state" />
            <label for="state" class="form-label">State</label>


            <input [(ngModel)]="newAddress.zip" class="form-control" type="text" name="zip" id="zip" />
            <label for="zip" class="form-label"> Zip</label>
            <br>
            <div class="row justify-content-around">
              <div class="col-4">
                <button class="btn btn-secondary" (click)="addLocation = false"> back</button>
              </div>
              <div class="col-4">

                <button class="btn btn-primary" (click)="createNewLocation(newLocation)">OK</button>
              </div>
            </div>
          </form>

        </div>

        <hr>

        <div class="justify-content-center">
          <div class="form-group">
            <label for="privay">Private Walk</label>
            <input type="checkbox" name="privacy" id="privacy" [(ngModel)]="walk.privacy"/>
          </div>
        </div>
        <br>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <button type="button" class="btn btn-danger btn">Cancel</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn" (click)="createNewWalk(walk)">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
