


<div *ngIf="!checkLogin()">
  <body>
<!-- Jumbotron -->
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-10 text-white"
  style="background-image: url('https://blog-assets.thedyrt.com/uploads/2018/10/93Xlomfw-compressor.jpeg');">
  <h1 class="mb-3 h2">Stay Connected</h1>

  <p>
    In a perfect world, your ideal walking partner would live next door or work in the next office over.
    If you don’t already have a local friend to recruit, take some steps and use Paseo to find one!
  </p>
</div>
<!-- Jumbotron -->
<div>

  <app-register></app-register>
</div>


</body>
</div>

<div *ngIf="checkLogin()">

<div class="jumbotron-fluid"><img class="img-fluid jumboImg"  src="https://raw.githubusercontent.com/Knakong/FinalProject/6b522a7d9ecf0ba7bef53a60a3d4310014971683/ngPaseo/src/assets/Heading.png" alt="Responsive Image"></div>

  <div class="p-1 margin-1 border-1 col-med-8">
    <h1 class="lead display-3 text-center">Paseo Walks</h1>
    <table>
      <thead></thead>
    <tbody>
      <div class="input-group"><tr>
        <td><input [(ngModel)]="searchWalk.date" class="form-control margin-1" type="date" name="date" id="date"/>
          <label for="date" class="form-label">Date</label>
        </td>
        <td><input [(ngModel)]="searchWalk.description" class="form-control" type="text" name="description"
            id="description">Keyword<label for="description" class="form-label"></label>
        </td>
        <td>
          <select class="form-select form-control" name="category">
          <option aria-placeholder>Category</option>
          <option *ngFor="let category of walkCategories" [(ngModel)]="searchWalk.walkCategory"> {{category.name}} </option></select>
          <label for="category">Category</label>
        </td>
        <td>
        <select class="form-select form-control" name ="walkType">
          <option aria-placeholder>Choose WalkType</option>
          <option *ngFor="let type of walkTypes" [(ngModel)]="searchWalk.walkType"> {{type.name}} </option></select>
          <label for="walkType">Type</label>
        </td>
        <td>
        <select class="form-select form-control" name="WalkLocation">
          <option aria-placeholder>Choose Location</option>
          <option *ngFor="let category of walkLocations"   [(ngModel)]="searchWalk.walkLocation"> {{category.name}} </option></select>
          <label for="WalkLocation">Location</label>
                </td>
          <td>

          <button id="search" type="button" class="btn btn-primary form-button form-control input-group-append form-group" (click)="search(searchWalk); displayWalks = results ">Search</button>
          <label for="search"></label>
        </td>
        <td>
          <button  id="allwalks"type="button" class="form-control form-group form-button btn btn-primary input-group-append "(click)="displayWalks = walks" >All Walks</button>
          <label for="allwalks"></label>
        </td>
      </tr></div>
    </tbody>
    </table>

  </div>

  <div *ngIf="displayWalks" class="col-med-8">



                  <table class="table table-striped table-bordered table-hover table-condensed">

                    <thead>
                      <th>Name</th>
                      <th>User</th>
                      <th>Date</th>
                      <th>Walk Location</th>
                      <th> Details</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let walk of displayWalks" [routerLink]="['/profile/'+walk.user.id]">
                        <td>
                          {{walk.name}}
                        </td>
                        <td>
                          <img src="{{walk.user.profileImageUrl}}" height="100px" width="100px" alt=""
                            class="img-thumbnail">
                          <br>
                          {{walk.user.username}}

                        </td>
                        <td>

                          {{walk.date}}

                        </td>

                        <td>

                          {{walk.walkLocation.name}},
                          {{walk.walkLocation.address.city}}, {{walk.walkLocation.address.state}}
                        </td>
                        <td>
                          {{walk.walkType.name}},
                          {{walk.walkCategory.name}}

                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>



    <div *ngIf="selected" class="">

        <h6 class="display-6">Walk Details</h6>
        <img src="{{selected.user.profileImageUrl}}" height="100px" width="100px" alt="" class="img-thumbnail">
        <br>
        <p class="h3">{{selected.user.username}}</p>


      <h1 class="diplay-1 center underlined">{{selected.name}}</h1>
      <img [src]="selected.imageUrl">
      <p class="display-6">{{selected.description}}</p>

      <h3 class="display-3">{{selected.walkLocation.name}}</h3>
      <p> {{selected.walkLocation.address.street}}, {{selected.walkLocation.address.city}}

            <br>

            {{selected.walkLocation.address.state}}, {{selected.walkLocation.address.zip}}
          </p>

          <button type="button" class="button btn-lg" (click)="selected=null">Back</button>


  </div>



    <div *ngIf="checkLogin()">
      <div class="searchForUsers centerMe">
      <form>
        <h1 class="display-4">Paseo Walkers Search</h1>
        <label for="keyword"></label>
        <input [(ngModel)]="keyword" name="keyword" type="text">
        <button (click)="onSubmitUserSearch(keyword)" class="btn btn-primary">Search</button>

      </form>


      <table class="table table-striped table-bordered table-hover table-condensed">

        <tbody>
          <tr *ngFor = "let usersSearchResult of usersSearchResults">
          <td>
            <a [routerLink]="['/profile/' + usersSearchResult.id]">
            <img [src]="usersSearchResult.profileImageUrl" height="100px" width="100px" alt="" class="img-thumbnail" >
            {{usersSearchResult.firstName}}
            {{usersSearchResult.lastName}}
            {{usersSearchResult.username}}
          </a>
            <button class="btn btn-warning btnRight" (click)="updateUser(this.usersSearchResult)" *ngIf="loggedInUser.role == 'admin'">Edit</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
    <app-walk></app-walk>
    <div>
  </div>





  <!-- <div class="form-group">

  <input  [keywordString]= "'keyword'" class="form-control" type="text" name="keyword" id="keyword">

  <label for="keyword" class="form-label">User Search</label>



</div> -->
