

<div *ngIf="!checkLogin()">
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" style="width: -webkit-fill-available;" />
		</div>
		<div class="carousel-caption">
			<h3>Welcome To Paseo</h3>
			<p>Helping you get out there since 2023.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" style="width: -webkit-fill-available;"/>
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
</ngb-carousel>

<hr/>

<h3>Lorem Ipsum</h3>
  <app-register></app-register>
</div>





<div *ngIf="checkLogin()">

  <div *ngIf="walks">
    <div class="row-span-5"> <span *ngFor="let category of walkCategories"> {{category.name}} |</span><br>
    <span *ngFor="let type of walkTypes"> {{type.name}} |</span><br>
    <span *ngFor="let location of walkLocations"> {{location.name}} </span><br>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">

      <thead>
        <th>Name</th>
        <th>User</th>
        <th>Date</th>
        <th>Walk Location</th>
        <th> Details</th>
      </thead>
      <tbody>
        <tr *ngFor="let walk of walks">
        <td>
          {{walk.name}}
        </td>


        <td>
          <img [src]="walk.user.profileImageUrl">

            {{walk.user.username}}

        </td>
        <td>

          {{walk.date}}

        </td>

        <td>

        {{walk.walkLocation.name}},
        {{walk.walkLocation.address.city}}, {{walk.walkLocation.address.state}}

      </td>
      <td>
        {{walk.walkType.name}},
        {{walk.walkCategory.name}}

      </td>

        </tr>






      </tbody>
    </table>


    <button>Fix me</button>
    <br />
    <input type="checkbox"/>
  </div>

  <!-- <div *ngIf="selected">
    <p>{{ selected.id }}</p>
    <p>{{ selected.task }}</p>
    <p>{{ selected.description }}</p>
    <p>{{ selected.completed }}</p>
    <button (click)="displayTodoTable()">Back</button>
    <button (click)="setEditTodo()">Edit</button> -->

<div>
    <div class="form-group">
        <input [(ngModel)]="searchWalk.date" class="form-control" type="date" name="date" id="date" />
        <label for="date" class="form-label">Date</label>
      </div>

      <br>
      <div class="form-group">

        <input [(ngModel)]="searchWalk.description" class="form-control" type="text" name="description"
          id="description">
        <label for="description" class="form-label">Keyword Search</label>

      </div>




      <div class="input-group mb-3">

        <label class="input-group-text form-label" for="walkCategory">Walk Category </label>
        <select [(ngModel)]="searchWalk.walkCategory" class="form-control form-select" name="walkCategory"
          id="walkCategory">
          <option [ngValue]="walkCategory" name="walkCategory" *ngFor="let walkCategory of walkCategories">
            {{ walkCategory.name }}
          </option>

        </select>
      </div>



      <div class="input-group mb-3">
        <label for="walkType" class=" input-group-text form-label">Walk Type </label>
        <select class="form-control form-select" [(ngModel)]="searchWalk.walkType" name="walkType" id="walkType">
          <option class="" [ngValue]="walkType" name="walkType" *ngFor="let walkType of walkTypes">
            {{ walkType.name }}
          </option>
        </select>

      </div>


      <div class="input-group mb-3">
        <label for="walkLocation" class="input-group-text  form-label">Walk Location</label>
        <select class="form-control form-select" [(ngModel)]="searchWalk.walkLocation" name="walkLocation"
          id="walkLocation">
          <option [ngValue]="walkLocation" name="walkLocation" *ngFor="let walkLocation of walkLocations">
            {{ walkLocation.name }}




          </option>
        </select>
<button (click)="search(searchWalk)">
    Search
</button>

</div>

<div *ngFor = "let result of results">








</div>
<div class="searchForUsers">
  <form >
    <label for="keyword">Search by name or username</label>
    <input [(ngModel)]="keyword" name="keyword" type="text">
    <button (click)="onSubmitUserSearch(keyword)" class="button">Search</button>

  </form>
  <div *ngFor = "let onUserSearchResult of usersSearchResults"></div>
</div>


    <app-walk></app-walk>
</div>












<!-- <div class="form-group">

  <input  [keywordString]= "'keyword'" class="form-control" type="text" name="keyword" id="keyword">

  <label for="keyword" class="form-label">User Search</label>



</div> -->

