table {
  border-spacing: 30px;
}

table, th, td {

  padding: 15px;
}


body{
  background-image: url("https://c1.wallpaperflare.com/preview/670/395/688/walk-path-feet-trail.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200vh;
  background-attachment: fixed;

}
