
<div class="bg-image "
style="background-image: url('https://cdn-prod.medicalnewstoday.com/content/images/articles/319/319785/walkers.jpg' );
      background-size: 100%; background-repeat: no-repeat; height: 100vh">


<div (load)="getLoggedInUser(); getGenders()">

  <div class="row">

    <div class="col-6 " id="form-wrapper" >

      <div class="bg-success text-dark bg-opacity-10"style="max-width: 750px; margin: 100px; float: left;  padding: 40px; background-color: #FBFCF9;">
      <form>
      <table>
        <tbody>
          <tr>
            <td>
              <input [(ngModel)]="user.firstName"  class="form-control" type="text" name="firstname" id="firstname">
              <label for="firstname" class="form-label" >First Name</label>
            </td>
            <td>
              <input  [(ngModel)]="user.lastName" class="form-control" type="text" name="lastname" id="lastname">
              <label for="lastname" class="form-label">Last Name</label>
            </td>
          </tr>
          <tr>

            <td>
              <input [(ngModel)]="address.street" class="form-control" type="text" name="street" id="street">
              <label for="street" class="form-label">Street Address</label>
            </td>
            <td>
              <input [(ngModel)]="address.city" class="form-control" type="text" name="city" id="city">
              <label for="city" class="form-label">City</label>
            </td>
          </tr>

          <tr>
            <td>
              <input [(ngModel)]="address.state" class="form-control" type="text" name="state" id="state">
              <label for="state" class="form-label">State</label>
            </td>
            <td>
              <input [(ngModel)]="address.zip" class="form-control" type="text" name="zip" id="zip">
              <label for="zip" class="form-label"> Zip</label>
            </td>
          </tr>


          <tr>
            <td colspan="2">
              <textarea [(ngModel)]="user.description" class="form-control" type="text" name="description" id="description"></textarea>
              <label for="description" class="form-label">Description</label>
            </td>
          </tr>
          <tr>
          <td>
            <input [(ngModel)]="user.birthdate" class="form-control" type="date" name="Birthday" id="birthday">
            <label for="birthday" class="form-label">Birthday</label>
          </td>
          <td >
            <select [(ngModel)]="user.gender" name="genders" id="genders">
             <option  [ngValue]="gender" name="gender" *ngFor="let gender of genders">{{gender.sex}}</option>

           </select>
            <label for="genders" class="form-label">Gender</label>
          </td>
        </tr>
        </tbody>
      </table>
          <div class="row just-content-evenly" >

           <button  class="btn btn-success" (click)="updateAddress(user)">Update</button>
           <br>
           <button  class="btn btn-primary" (click)="returnHome()">Cancel</button>
            <hr>
           <button  class="btn btn-danger" (click)="delete(user.id)">Delete Account</button>
          </div>

      </form>
</div>

    </div>
    <div class="col-4 ">
      <div  class="bg-success text-dark bg-opacity-10" style="max-width: 750px; margin: 100px; float: left;  padding: 40px;background-color: #FBFCF9" >
  <div class="container" >
    <img src='https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg' *ngIf="!user.profileImageUrl">
    <img [src]="imageUrl" onerror="this.onerror=null; this.src='https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg'" *ngIf="user.profileImageUrl">
    <label for="profileImageUrl" class="form-label">Profile Image</label>
    <input class="form-control" type="text" name="profileImageUrl" id="profileImageUrl" [(ngModel)]="user.profileImageUrl">
  </div>
    </div>
    </div>
  </div>
  </div>
</div>
