
<div class="row" *ngFor="let user of users" [routerLink]="'/profile/' + user.id">
  <div class="col-1"></div>
<div class="col-3">
  <div class="container-fluid">
    <img class="img-fluid" [src]="user.profileImageUrl" [alt]="user.profileImageUrl"
    onerror="this.onerror=null; this.src='https://media.istockphoto.com/photos/couple-relax-on-the-beach-enjoy-beautiful-sea-on-the-tropical-island-picture-id1160947136?b=1&k=20&m=1160947136&s=612x612&w=0&h=AsFmKSBYTtacl0DvI-RanCnAXFU0cmuW8NAo0g-tGzA='"
    >
  </div>
<div class="col-1"></div>
</div>
<div class="col-7">
  <div class="container-fluid">
    <h3>Username: {{user.username}}</h3>
    <h4>Name: {{user.firstName + ' ' + user.lastName}}</h4>
    <p>{{user.description}}</p>
  </div>
</div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
<section id="hero">
  <div class="container">
    <nav>
      <h1></h1>



    </nav>
    <div class="content">
      <p>There Are No Active Walks In Your Area</p>
      <a href="/home">
      <button>Create A Walk</button>
    </a>
    </div>
  </div>
</section>
