<body>
<!-- Jumbotron -->
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('image.png');"
>
  <h1 class="mb-3 h2">Stay Connected</h1>

  <p>
   Happiness is a long walk with a friend. Let your words move you!
  </p>
</div>
<!-- Jumbotron -->
<div class="container" ng-app="app" ng-controller="ctrl">

  <div class="row min-vh-100 flex-column py-4">
      <div class="col-12 d-flex flex-column flex-grow-1">
          <div class="row ">
              <div class="col-md-3 bg-light py-3 rounded mr-md-1 mb-2">
                  <ul class="list-group sticky-top sticky-offset">
                      <button class="btn btn-block btn-outline-secondary my-1 text-uppercase" (click)="compose(composecontent)">Compose</button>
                      <div class="nav py-2 flex-md-column justify-content-center">
                          <h1 (click)="selected = 1" class="nav-link text-muted px-md-1" title="Messages">
                              <span class="fa fa-envelope-o fa-fw mr-md-1"></span>
                              <span class="d-none d-md-inline">Messages</span> <span class="badge badge-pill badge-primary" title="Unread" ng-show="unread.length>0" ng-bind="unread.length"></span>
                          </h1>
                          <h1 (click)="selected = 2" class="nav-link text-muted px-md-1" title="Deleted">
                              <span class="fa fa-trash fa-fw mr-md-1"></span>
                              <span class="d-none d-md-inline">Deleted</span>
                          </h1>
                          <h1 (click)="selected = 3" class="nav-link text-muted px-md-1" title="Deleted">
                              <span class="fa fa-trash fa-fw mr-md-1"></span>
                              <span class="d-none d-md-inline">Sent</span>
                          </h1>
                      </div>
                  </ul>
              </div>
              <div class="col-md py-3 rounded shadow bg-white ml-md-n1 mb-2">

                  <ul class="list-group py-2">
                    <div *ngIf="selected === 1">

                      <!-- single message (repeated) -->
                      <li *ngFor="let message of inbox" class="list-group-item d-block py-1">
                        <div class="row">
                          <div class="col-lg-3 p-2">
                            <div class="custom-control custom-checkbox">
                              <div class="custom-control-label text-nowrap" for="" (click)="open(viewcontent, message)">
                                <div class="col-6" *ngIf="message.dateSent"><p>Received: {{message.dateSent}}</p></div>
                                <div class="col-6" *ngIf="!message.dateSent"><p>Received: Unknown</p></div>
                                <div class="col-6"> From: {{message.sender.firstName + ' ' + message.sender.lastName}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg py-2">
                              <div class="float-right text-right">
                                <span data-ng-class="{'font-weight-bold font-italic':!item.read}"></span>
                              </div>
                              <p class="lead mb-0">
                                <button class="btn btn-lg btn-outline-primary btnRight" (click)="open(content, message)">Reply</button>
                                <button class="btn btn-lg btn-outline-danger btnRight" (click)="delete(message.id)">Delete</button>
                              </p>
                            </div>
                          </div>
                        </li>
                      </div>

                      <div *ngIf="selected === 2">

                        <!-- deleted messages (repeated) -->
                        <li *ngFor="let message of deletedMessages" class="list-group-item d-block py-1">
                          <div class="row" (click)="view(viewcontent, message)">
                            <div class="col-lg-3 p-2">
                              <div class="custom-control text-nowrap">
                                <div>
                                  <div class="col-6" *ngIf="message.dateSent"><p>Received: {{message.dateSent}}</p></div>
                                 <div class="col-6" *ngIf="!message.dateSent"><p>Received: Unknown</p></div>
                                 <div class="col-6"> From: {{message.sender.firstName + ' ' + message.sender.lastName}}</div>
                               </div>
                               </div>
                              </div>
                              <div class="col-lg py-2">
                                <div class="float-right text-right">
                                  <span data-ng-class="{'font-weight-bold font-italic':!item.read}"></span>
                                </div>
                              </div>
                            </div>
                          </li>

                        </div>

                      <div *ngIf="selected === 3">

                        <!-- Sent messages (repeated) -->
                        <li *ngFor="let message of sentMessages" class="list-group-item d-block py-1">
                          <div class="row" (click)="view(viewsent, message)">
                            <div class="col-lg-3 p-2">
                              <div class="custom-control text-nowrap">
                                <div>
                                  <div class="col-6" *ngIf="message.dateSent"><p>Sent: {{message.dateSent}}</p></div>
                                 <div class="col-6" *ngIf="!message.dateSent"><p>Sent: Unknown</p></div>
                                 <div class="col-6"> To: {{message.receiver.firstName + ' ' + message.receiver.lastName}}</div>
                               </div>
                               </div>
                              </div>
                              <div class="col-lg py-2">
                                <div class="float-right text-right">
                                  <span data-ng-class="{'font-weight-bold font-italic':!item.read}"></span>
                                </div>
                              </div>
                            </div>
                          </li>

                        </div>
                        </ul>

                        <!-- Reply Modal -->
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">From: {{viewedMessage.sender.username}}</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-header">
                      <small class="text-uppercase text-muted">Sent: {{viewedMessage.dateSent}}</small>
                      <div>
                          <h4 class="modal-title"></h4>
                      </div>
                  </div>
                    <div class="modal-body">
                      <table>
                        <thead></thead>
                        <tbody>
                          <tr>
                            <td>
                              <p>{{viewedMessage.contents}}</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <form>
                        <div class="mb-3">
                          <label for="reply">Reply</label>
                          <div class="input-group">
                            <textarea id="reply" class="form-control" name="reply" [(ngModel)]="createdMessage.contents"
                            ></textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <app-create-message [receiverId]="viewedMessage.sender.id" [message]="createdMessage"
                      (click)="createdMessage.contents = ''; refresh()"></app-create-message>
                    </div>
                  </ng-template>
                  <!-- End Reply Modal -->

                  <!-- Compose Modal -->
                  <ng-template #composecontent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-content" aria-label="modal-basic-content">Compose New Message</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-header">
                      <small class="text-uppercase text-muted">Send To: </small>
                      <select [(ngModel)]="receiverUsername">
                        <option [value]="user.username" *ngFor="let user of followedUsers">{{user.username}}</option>
                        </select>
                      <div>
                          <h4 class="modal-title"></h4>
                      </div>
                  </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="compose">Compose</label>
                          <div class="input-group">
                            <textarea id="compose" class="form-control" name="compose"[(ngModel)]="createdMessage.contents" ></textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <app-create-message [message]="createdMessage" [receiverUsername]="receiverUsername"
                      (click)="close(); refresh()"></app-create-message>
                    </div>
                  </ng-template>
                  <!-- End Compose Modal -->

                  <!-- View Modal -->
                  <ng-template #viewcontent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-content" aria-label="modal-basic-content">View Message</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-header">
                      <p>
                      <small class="text-uppercase text-muted">Sent By: </small>
                        {{viewedMessage.sender.username}}
                      </p>
                      <p *ngIf="viewedMessage.dateSent">
                      <small class="text-uppercase text-muted">Received On: </small>
                        {{viewedMessage.dateSent}}
                      </p>
                      <p *ngIf="!viewedMessage.dateSent">
                        Unknown
                      </p>
                      <div>
                        <h4 class="modal-title"></h4>
                      </div>
                    </div>
                    <div class="modal-body">
                      <p><strong>From: </strong>{{viewedMessage.sender.firstName + ' ' + viewedMessage.sender.lastName}}</p>
                      <form>
                        <div class="mb-3">
                          <label for="compose">Message</label>
                          <div class="input-group">
                            <textarea id="viewReceived" class="form-control" name="viewReceived">{{viewedMessage.contents}}</textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                  <!-- End View Modal -->

                  <!-- View Sent Modal -->
                  <ng-template #viewsent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-content" aria-label="modal-basic-content">View Message</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-header">
                      <p>
                      <small class="text-uppercase text-muted">Sent To: </small>
                        {{viewedMessage.receiver.username}}
                      </p>
                      <p *ngIf="viewedMessage.dateSent">
                      <small class="text-uppercase text-muted">Sent On: </small>
                        {{viewedMessage.dateSent}}
                      </p>
                      <p *ngIf="!viewedMessage.dateSent">
                        Unknown
                      </p>
                      <div>
                        <h4 class="modal-title"></h4>
                      </div>
                    </div>
                    <div class="modal-body">
                      <p><strong>To: </strong>{{viewedMessage.receiver.firstName + ' ' + viewedMessage.receiver.lastName}}</p>
                      <form>
                        <div class="mb-3">
                          <label for="compose">Message</label>
                          <div class="input-group">
                            <textarea id="viewSent" class="form-control" name="viewSent">{{viewedMessage.contents}}</textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                  <!-- End View Modal -->
              </div>
          </div>
      </div>
  </div>
</div>
</body>
