 <!-- <div id="hero">
        <video autoplay loop muted plays-inline>
            <source src="assets/pexels-ivan-samkov-9640804.mp4" type="video/mp4">
        </video>
 </div> -->
 <!-- ------------------------------------------------------------------------------------- -->
 <!-- <div class="section">

   <h1>About Paseo</h1>
    <h2>Helllo</h2>

  <div class="video-container">
      <div ></div>
      <video autoplay loop muted>
          <source src="assets/pexels-ivan-samkov-9640804.mp4" type="video/mp4">
      </video>
  </div>

</div> -->
<!-- ------------------------------------------------------------------------------------- -->
 <!-- Video Source -->
  <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
  <section class="showcase">
    <header>
      <h1 class="logo">Paseo</h1>
      <div class="toggle"></div>
    </header>
    <video src="assets/pexels-ivan-samkov-9640804.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Connecting you to </h2>
      <h3>A world full of walkers</h3>
      <p>We are Software Engineers with a drive for excellence and a love of programming. Come meet the team.</p>
      <div class="row">
        <div class="col-3">
          <h3>Forrest January</h3>
          <p>Professional programmer that loves all things technology.</p>
        </div>
        <div class="col-3">
          <h3>Sandra Harpole</h3>
          <p>Professional programmer that enjoys working in a team environment and with multiple languages.</p>
        </div>
        <div class="col-3">
          <h3>Kna Kong</h3>
          <p>Professional programmer and developer.</p>
        </div>
        <div class="col-3">
          <h3>Natasha Gough</h3>
          <p>Professional programmer and styler.</p>
        </div>
      </div>

        <div>
          <a href="#home">Find Walks</a>
        </div>



    </div>
    <!-- <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul> -->
  </section>
  <!-- <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Destination</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div> -->
