*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TESLA Regular;
}
.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo{
  width: 150px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
.content{
  text-align: center;
}
.content h1{
  font-size: 160px;
  color: rgb(110, 57, 57);
  font-weight: 600;
  transition: 0.5s;
}
.content h1{
  -webkit-text-stroke:2px rgb(212, 28, 28) ;
  color: transparent;
}
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9){
  .back-video{
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
      width: auto;
      height: 100%;
  }
}
